header {
    background-color: #3F51B5;
    height: 300px;
    .header-title {
        font-size: 20px;
        font-weight: 700;
        color: rgb(199, 199, 199);
        padding: 30px 0 0 100px;
    }
    .progress-bar {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .progress-title {
            color: rgb(199, 199, 199);
        }
    }
}