<div class="stepper">
    <mat-stepper labelPosition="bottom" #stepper>
        <mat-step class="personal-form" [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Personal</ng-template>
            <div class="separator"></div>
            <app-personal-form></app-personal-form>
            <div class="form-action">
                <button mat-button (click)="stepper.reset()">Reset</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Experiences</ng-template>
            <div class="separator"></div>
            <app-experience-form></app-experience-form>
            <div class="form-action">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="reviewFormGroup">
            <ng-template matStepLabel>Review</ng-template>
            <!-- <p>You are now done.</p> -->
            <div class="form-action">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>