.stepper {
    width: 800px;
    .mat-stepper-horizontal {
        background-color: transparent;
    }
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
        border: 0;
    }
    .form-action {
        display: flex;
        justify-content: space-between;
    }
}