<mat-card class="experience-tab">
  <app-about-achievements-card
    [profileAchievement]="'Profile'"
    [aboutDescription]="'About me'">
  </app-about-achievements-card>

  <app-experience-qualification-card
    [title]="'Professional Experience'"
    [jobOrDegree]="'Job Title'"
    [companyOrSchool]="'Company name'"
    [experienceOrQualification]="'Experience'">
  </app-experience-qualification-card>

  <app-experience-qualification-card
    [title]="'Graduation & Qualification'"
    [jobOrDegree]="'Degree & Qualification'"
    [companyOrSchool]="'College name'"
    [experienceOrQualification]="'Qualification'">
  </app-experience-qualification-card>

  <app-skills-idiom-card
    [skillsIdioms]="'Skills'"
    [skillIdiom]="'Skill'">
  </app-skills-idiom-card>

  <app-skills-idiom-card
    [skillsIdioms]="'Idioms'"
    [skillIdiom]="'Idiom'">
  </app-skills-idiom-card>

  <app-about-achievements-card
    [profileAchievement]="'Achievements'"
    [aboutDescription]="'description'">
  </app-about-achievements-card>
</mat-card>