.generate-cv-tab {
	margin-bottom: 20px;
	.generate-cv-form {
		box-shadow: 0px 9px 11px rgba(33, 37, 41, 0.2);
    background-color: var(--card-background-color);
    color: var(--card-text-color);
		.row {
      display: flex;
      flex-direction: column;
			justify-content: center;
      margin-bottom: 10px;
			.review-cv {
				display: flex;
				justify-content: center;
				margin-bottom: 10px;
				img {
					box-shadow: -7px 7px 11px rgba(33, 37, 41, 0.2);
				}
			}
			.action-generate-cv {
				display: flex;
				justify-content: center;
			}
    	}
	}

}
