<div class="generate-cv-tab">
	<mat-card class="generate-cv-form">
		<div class="tab-title">
			<div class="generate-title">Review and Generate your CV</div>
		</div>
		<hr>
		<mat-card-content>
			<div class="row">
				<mat-label>Review:</mat-label>
				<div class="review-cv">
					<img src="../../../../../assets/model_pdf.png" alt="Review CV"/>
				</div>
				<div class="action-generate-cv">
					<button mat-raised-button color="primary">Generate</button>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>