.personal-tab {
  margin-bottom: 20px;
  .personal-form {
    box-shadow: 0px 9px 11px rgba(33, 37, 41, 0.2);
    background-color: var(--card-background-color);
    color: var(--card-text-color);
    .tab-title {
      display: flex;
      justify-content: space-between;
      .personal-title {
        display: flex;
        align-items: center;
      }
      .language-component{
        display: flex;
        align-items: center;
        .language {
          margin: 0 10px;
        }
        .select-language {
          width: 120px;
          margin: 0;
        }
      }
    }

    ::ng-deep .mat-select-value {
      color: var(--card-text-color) !important;
    }
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    ::ng-deep .mat-form-field {
      width: 100%;
    }
    .mat-menu-content {
      color: black;
    }
    .row-double {
      display:flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .separator {
        margin: 0 10px;
      }
      .double-item {
        width: 49%;
        .form-date-pick {
          color: black;
          display: flex;
          justify-content: space-between;
          .select-label {
            color: #000;

          }
          .form-day {
            width: 23%;
            height: 30px;
          }
          .form-month {
            width: 43%;
          }
          .form-year {
            width: 23%;
          }
        }
      }
    }
  }
}
