<div class="personal-tab">
    <mat-card class="personal-form">
      <mat-card-title class="tab-title">
        <div class="personal-title">Personal Detail</div>
        <div class="select-language">
          <mat-label class="language-label">Language: </mat-label>
          <div class="language-menu" [matMenuTriggerFor]="menu">
            <span class="option-language">English</span>
            <mat-icon>expand_more</mat-icon>
            <mat-menu appendTo="body" class="language-menu-content" #menu="matMenu">
              <a mat-list-item *ngFor="let option of languages">
                <button class="language-menu-item" mat-menu-item>
                  <span>{{option.viewValue}}</span>
                </button></a>
            </mat-menu>
          </div>
        </div>
      </mat-card-title>
      <hr>
      <mat-card-content>
        <form [formGroup]="personalDataForm">
          <div class="row">
            <mat-label>First name:</mat-label>
            <mat-form-field appearance="fill">
              <input matInput formControlName="firstName" id="firstName" class="form-control">
              <mat-error *ngIf="fields.firstName.invalid">{{getErrorMessage("firstName", fields.firstName)}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-label>Last name:</mat-label>
            <mat-form-field appearance="fill">
              <input matInput formControlName="lastName" id="lastName" class="form-control">
              <mat-error *ngIf="fields.lastName.invalid">{{getErrorMessage("lastName", fields.lastName)}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row-double">
            <div class="double-item">
              <mat-label>Email:</mat-label>
              <mat-form-field appearance="fill">
                <input matInput formControlName="email" id="email" class="form-control">
                <mat-error *ngIf="fields.email.invalid">{{getErrorMessage("email", fields.email)}}</mat-error>
              </mat-form-field>
            </div>
            <span class="separator"></span>
            <div class="double-item">
              <mat-label>Telephone:</mat-label>
              <mat-form-field appearance="fill">
                <input matInput formControlName="telephone" id="telephone" class="form-control">
                <mat-error *ngIf="fields.telephone.invalid">{{getErrorMessage("telephone", fields.telephone)}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-label>Address:</mat-label>
            <mat-form-field appearance="fill">
              <input matInput formControlName="address" id="address" class="form-control">
              <mat-error *ngIf="fields.address.invalid">{{getErrorMessage("address", fields.address)}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row-double">
            <div class="double-item">
              <mat-label>Zip Code:</mat-label>
              <mat-form-field appearance="fill">
                <input matInput formControlName="zipCode" id="zipCode" class="form-control">
                <mat-error *ngIf="fields.zipCode.invalid">{{getErrorMessage("zipCode", fields.zipCode)}}</mat-error>
              </mat-form-field>
            </div>
            <span class="separator"></span>
            <div class="double-item">
              <mat-label>City:</mat-label>
              <mat-form-field appearance="fill">
                <input matInput formControlName="city" id="city" class="form-control">
                <mat-error *ngIf="fields.city.invalid">{{getErrorMessage("city", fields.city)}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row-double">
            <div class="double-item">
              <mat-label>Date of:</mat-label>
              <div class="form-day-pick" formControlName="birthDate" id="birthDate">
                <mat-form-field class="form-day" appearance="fill">
                <mat-label class="select-label">Day</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
                </mat-form-field>
                <mat-form-field class="form-month" appearance="fill">
                  <mat-label class="select-label">Month</mat-label>
                  <mat-select disableRipple>
                    <mat-option value="4">Option 1</mat-option>
                    <mat-option value="5">Option 2</mat-option>
                    <mat-option value="6">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="form-year" appearance="fill">
                  <mat-label class="select-label">Year</mat-label>
                  <mat-select disableRipple>
                      <mat-option value="7">Option 1</mat-option>
                      <mat-option value="8">Option 2</mat-option>
                      <mat-option value="9">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
            </div>
            <span class="separator"></span>
            <div class="double-item">
              <mat-label>Citizenship:</mat-label>
              <mat-form-field appearance="fill">
                <input matInput formControlName="citizenship" id="citizenship" class="form-control">
                <mat-error *ngIf="fields.citizenship.invalid">{{getErrorMessage("citizenship", fields.citizenship)}}</mat-error>
              </mat-form-field>
            </div>
        </div>
        <div class="row-double">
          <div class="double-item">
            <mat-label>Civil State:</mat-label>
            <mat-form-field appearance="fill">
              <input matInput formControlName="civilState" id="civilState" class="form-control">
              <mat-error *ngIf="fields.civilState.invalid">{{getErrorMessage("civilState", fields.civilState)}}</mat-error>
            </mat-form-field>
          </div>
          <span class="separator"></span>
          <div class="double-item">
            <mat-label>Gender:</mat-label>
              <mat-form-field appearance="fill">
              <mat-label class="select-label">Gender</mat-label>
                <mat-select disableRipple formControlName="gender" id="gender">
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
        <div class="row-double">
          <div class="double-item">
            <mat-label>LinkedIn:</mat-label>
            <mat-form-field appearance="fill">
              <input matInput formControlName="linkedIn" id="linkedIn" class="form-control">
              <mat-error *ngIf="fields.linkedIn.invalid">{{getErrorMessage("linkedIn", fields.linkedIn)}}</mat-error>
            </mat-form-field>
          </div>
          <span class="separator"></span>
          <div class="double-item">
            <mat-label>Website:</mat-label>
            <mat-form-field appearance="fill">
              <input matInput formControlName="website" id="website" class="form-control">
              <mat-error *ngIf="fields.website.invalid">{{getErrorMessage("website", fields.website)}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
      </mat-card-content>
    </mat-card>
</div>