.personal-tab {
  margin-bottom: 20px;
  .personal-form {
    box-shadow: 0px 9px 11px rgba(33, 37, 41, 0.2);
    background-color: rgb(255, 255, 255);
    color: rgb(26, 26, 26);
    .tab-title {
      display: flex;
      justify-content: space-between;
      .personal-title {
        display: flex;
        align-items: center;
      }
      .select-language {
        color: rgb(26, 26, 26);
        display: flex;
        align-items: center;
        .language-label {
          margin: 0 15px;
        }
        .language-menu {
          display: flex;
          align-items: center;
        }
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    ::ng-deep .mat-form-field {
      width: 100%;
      margin-bottom: 10px;
    }
    .mat-menu-content {
      color: black;
    }
    .row-double {
      display:flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .separator {
        margin: 0 10px;
      }
      .double-item {
        width: 49%;
        .form-day-pick {
          color: black;
          display: flex;
          justify-content: space-between;
          .select-label {
            color: #000;

          }
          .form-day {
            width: 22%;
          }
          .form-month {
            width: 40%;
          }
          .form-year {
            width: 22%;
          }
        }
      }
    }

  }
}
